.animation h1 {
  background-color: rgba(199, 206, 223, 0.75);
  padding: 1rem;
  margin: 5rem auto;
  width: 55rem;
  font-size: 4rem;
  color: #007a79;
  text-align: center;
  /* border-radius: 1rem; */
}

.animated-background {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  display: flex;
  justify-content: space-around;
}

.animated-background .block {
  width: 100%;
  height: 100%;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* Animation */
.waves-animation {
  position: relative;
}

.waves-animation .waves {
  transform: rotate(90deg);
  /* max-height: 60px; */
  position: absolute;
  left: -39.4vw;
  height: 4.6vw;
  width: 100vw;
}

.text-block {
  margin: auto;
  max-width: 55rem;
  padding: 1rem;
  background-color: rgba(199, 206, 223, 0.75);;
}
